.timer-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.timer-form__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

@media (max-width: 600px) {
    .timer-form__content {
        flex-direction: column;
    }
}

.timer-form__content__div {
    display: flex;
    flex-direction: column;
}
